name: Scrape latest data

on:
  push:
  workflow_dispatch:
  schedule:
  - cron: '6,26,46 * * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
    - name: Check out this repo
      uses: actions/checkout@v4
    - name: Fetch latest data
      run: |-
        curl -o index.html https://holfuy.com/en/camera/1746
        mkdir -p dynamic/camsave/s1746
        cd dynamic/camsave/s1746 && curl -s https://holfuy.com/en/camera/1746 | grep -o '/dynamic/camsave/s1746/[^"]*\.jpg' | sed "s|^|https://holfuy.com|" | xargs -n 1 curl -JLO -o images/ && cd ..
    - name: Commit and push if it changed
      run: |-
        git config user.name "Automated"
        git config user.email "actions@users.noreply.github.com"
        git add -A
        timestamp=$(date -u)
        git commit -m "Latest data: ${timestamp}" || exit 0
        git push
